<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tammy.test">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_related.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_related.SignUpActivity" />
        <activity android:name=".displayMenu.DisplayActivity" />
        <activity
            android:name=".login_related.PopUpTermsAndConditions"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".displayMenu.ProfileActivity"
            android:parentActivityName=".displayMenu.DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".displayMenu.DisplayActivity" />
        </activity>
        <activity
            android:name=".displayMenu.CheckInActivity"
            android:parentActivityName=".displayMenu.DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".displayMenu.DisplayActivity" />
        </activity>
        <activity
            android:name=".displayMenu.DiscussionActivity"
            android:parentActivityName=".displayMenu.DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".displayMenu.DisplayActivity" />
        </activity>
        <activity
            android:name=".displayMenu.HelpActivity"
            android:parentActivityName=".displayMenu.DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".displayMenu.DisplayActivity" />
        </activity>
        <activity
            android:name=".displayMenu.SettingsActivity"
            android:parentActivityName=".displayMenu.DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".displayMenu.DisplayActivity" />
        </activity>
        <activity
            android:name=".login_related.PopUpForgotPassword"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".login_related.PopUpGetPassword"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".geofence.AllGeofencesActivity"></activity>
    </application>

</manifest>